module galaxy_selinux 1.0;

require {

        type init_t;
        type var_t;
        type postgresql_t;
        type default_t;
        type init_tmp_t;
        type man_t;
        
        class dir { add_name read write remove_name create rmdir};
        class file { execute execute_no_trans read open ioctl unlink rename create write setattr link relabelfrom append lock relabelto};
        class unix_stream_socket { connectto };  
        class process { setpgid execmem};
        class lnk_file { create };

}

#============= logrotate_t ==============

allow init_t var_t:file { execute execute_no_trans read open ioctl unlink rename create write setattr link relabelfrom append lock relabelto};
allow init_t var_t:dir { read write create add_name remove_name rmdir };

allow init_t default_t:file { execute execute_no_trans read open ioctl unlink rename create write setattr};
allow init_t default_t:dir { read write create add_name remove_name rmdir };

allow init_t init_tmp_t:file { execute execute_no_trans read open ioctl unlink rename create write setattr};

allow init_t postgresql_t:unix_stream_socket { connectto };

allow init_t man_t:file { execute execute_no_trans read open ioctl unlink rename create write setattr link relabelfrom relabelto lock};
allow init_t man_t:dir { read write create add_name remove_name rmdir };
allow init_t man_t:lnk_file { create };

allow init_t init_t:process { setpgid execmem };
